* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.div2{
    height: 150px;
    visibility: hidden;
}

.div1{
    border: 1.2px dotted black;
    border-radius: 5px;
    margin:auto;
    width: 400px;
    height: 300px;
}

.tittle{
    font-size: 24px;
    font-weight: bold;
    font-family: 微软雅黑;
    text-align: center;
    letter-spacing: 8px;
}

.label1{
    margin:40px 20px 20px 65px;
    display: inline-block;
    font-weight: bold;
    font-size:17px ;
}

.label2{
    margin: 20px 36px 0 65px;
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
}

.btn1{
    display: inline-block;
    margin-top: 40px;
    padding: 0 52px 0 75px;
    letter-spacing: 25px;
    height: 30px;
    margin-left: 100px;
    font-weight: bolder;
    background-color: #4a8dfc;
    color: white;
    cursor: pointer;
}

.btn1:hover{
    opacity:0.7;
}